/* This is the "Close" button on the overlay */
#pd-button {
  display: none;
  color: transparent;
}

/* Hover styles for "Close" button */
#pd-button:hover {
  display: none;
  color: transparent;
}

/* Overlay itself in the top right corner */
#prod-type-overlay {
  display: none;
  color: transparent;
}

/* Text within the overlay */
#pd-text {
  display: none;
  color: transparent;
}

/* This is the "Close" button for the error message */
#error-button {
  display: none;
  color: transparent;
}

/* Hover styles for the error message button */
#error-button:hover {
  display: none;
  color: transparent;
}

/* Error message styles when the page isn't a Products Page */
#error-message {
  display: none;
  color: transparent;
}

/* Text within error message */
#error-message-text {
  display: none;
  color: transparent;
}
