/* Overlay itself in the top right corner */
#prod-type-overlay {
  position: fixed;
  display: block;
  width: 200px;
  height: 170px;
  top: 1%;
  right: 1%;
  bottom: 0;
  background-color: rgb(209,209,209,0.9);
  z-index: 9999;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  box-shadow: 0 2px 4px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19);
}

/* Text within the overlay for product count */
#pd-text {
  padding-top: 25px;
  padding-left: 12px;
  font: 400 15px sans-serif;
  color: rgb(65,65,65);
}

/* Error message text is user isn't on a Squarespace Products Page */
#error-message {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 22px;
  font: 400 15px sans-serif;
  color: rgb(65,65,65);
  background-color: rgb(209,209,209,1);
}
