/* Overlay itself in the top right corner */
#prod-type-overlay {
  position: fixed !important;
  display: block !important;
  width: 235px !important;
  height: 220px !important;
  top: 4% !important;
  right: 1% !important;
  bottom: 0 !important;
  background-color: white !important;
  z-index: 9999 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186) !important;
  box-shadow: 0 2px 4px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19) !important;
}

/* Text within the overlay for product count */
#pd-text {
  padding-top: 25px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 1em !important;
  letter-spacing: 0.7px;
  color: rgb(65,65,65) !important;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

/* Error message text is user isn't on a Squarespace Products Page */
#error-message {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center !important;
  font-size: 22px !important;
  font-family: Helvetica, sans-serif !important;
  font-weight: 700 !important;
  line-height: 15px !important;
  color: black;
}

/* Adjust style for the words "Products Page" specifically in the error message */
#pp-error {
  color: #1FA187;
}

/* Adjust styles for the "Subscription Products:" text in the overlay */
#pd-text hr {
  margin-top: 18px;
  margin-bottom: 18px;
}

#error-url {
  text-decoration:underline;
}

#error-url:hover {
  color: grey;
}
